<div class="schedule">
	{% if schedule.jodo %}
		<div>
			<h2 class="vis-hidden">
				Class Schedule
			</h2>
			<div class="schedule__week">
				{% for day in week %}
					<div class="schedule__day">
						<h3>
							<abbr title="{{ day.full }}">
								<span aria-hidden="true">{{ day.short }}</span>
								<span class="vis-hidden">{{ day.full }}</span>
							</abbr>
						</h3>
						{% if schedule["daito-ryu"] %}
							<h4 class="h6">Jodo</h4>
						{% endif %}
						{% if schedule.jodo[day.slug] == null %}
							<p class="no-class">No class</p>
						{% else %}
							<p>{{ schedule.jodo[day.slug] }}</p>
						{% endif %}
						{% if schedule["daito-ryu"] %}
							{% if schedule.jodo %}
								<div class="spacer"></div>
							{% endif %}
							<h4 class="h6">Daito Ryu</h4>
							{% if schedule["daito-ryu"][day.slug] == null %}
								<p class="no-class">No class</p>
							{% else %}
								<p>{{ schedule["daito-ryu"][day.slug] }}</p>
							{% endif %}
						{% endif %}
					</div>
				{% endfor %}
			</div>
		</div>
	{% endif %}
</div>