<article class="location-summary__seniors content-wrapper">
    <h2>
        <img src="/assets/icons/team.svg" alt="" class="icon" aria-hidden="true" loading="lazy">
        Instructors and Senior Students
    </h2>
    <ul class="list list--unstyled seniors">
        <li class="senior">
            <picture>
                <source srcset="{{ instructor.image.srcset }}">
                <img src="{{ instructor.image.src }}" alt="Headshot: {{ instructor.name }}" class="headshot" />
            </picture>
            <div class="no-margin">
                <p class="heading h5">{{ instructor.name }}</p>
                <p class="h6">{{ instructor.rank }}</p>
            </div>
            <p>{{ instructor.bio }}</p>
        </li>
        {% for senior in seniors %}
            <li class="senior">
                <picture>
                    <source srcset="{{ senior.image.srcset }}" />
                    <img class="headshot" src="{{ senior.image.src }}" alt="Headshot: {{ senior.name }}" />
                </picture>
                <div class="no-margin">
                    <p class="heading h5">{{ senior.name }}</p>
                    <p class="h6">{{ senior.rank }}</p>
                </div>
                <p>{{ senior.bio }}</p>
            </li>
        {% endfor %}
    </ul>
</article>