---
layout: default
---

{% include pop-form %}
{% include hero %}

<nav role="navigation">
  <h2 class="u-visually-hidden">Main Navigation</h2>
  <div class="c-home-nav-bar">
    <ul class="c-home-nav-bar__inner">
      {% for item in site.nav %}
        {% if item.id != 'home' %}
          <li><a href="{{ item.href }}" {{ item.props }}>{{ item.description }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>

<section class="t-home__about">
  <div class="c-sheet u-text-content">
    <h2 class="c-h2 u-weight--light">
      {{ pitch }}
    </h2>

    <div class="t-home__about-left">
      <h3>{{ jodo.title }}</h3>
      <p>{{ jodo.part1 }}</p>
      <p>{{ jodo.part2 }}</p>
    </div>

    <div class="t-home__about-right">
      <h3>{{ daitoryu.title }}</h3>
      <p>{{ daitoryu.part1 }}</p>
      <p>{{ daitoryu.part2 }}</p>
    </div>

    <div class="u-clearfix"></div>
  </div>
</section>

<section class="t-home__locations">
  <div class="c-overlay-card">
    <img alt="Photo of a classroom with students throughout" class="c-overlay-card__image" src="/assets/img/location-banner.jpg"/>

    <div class="c-overlay-card__content">
      <div class="c-sheet">
        <header class="c-sheet__header">
          <h2>{{ locations.title }}</h2>
        </header>

        <div class="t-home__locations-columns">
          {% for item in locations.list %}
            <p>{{ item }}</p>
          {% endfor %}
        </div>

        <footer class="c-sheet__footer">
          <a class="c-button" href="/locations">{{ locations.button }}</a>
        </footer>
      </div>
    </div>
  </div>
</section>

<section class="t-home__instructor">
  <div class="c-overlay-card">
    <img alt="Photo of Hoshu Dojo head instructor Goto Sensei performing kata" class="c-overlay-card__image" src="/assets/img/head-instructor-banner.jpg"/>

    <div class="c-overlay-card__content">
      <div class="c-sheet">
        <header class="c-sheet__header">
          <h2>{{ instructor.title }}</h2>
        </header>

        <p>{{ instructor.description }}</p>
      </div>
    </div>
  </div>
</section>
