<!DOCTYPE html>
<html lang="{{ site.lang }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if title %}
            {{ title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>
    <meta name="description"
        content="Hoshu Dojo is a martial arts school following Kei Goto sensei's teachings in Shindo Muso Ryu Jojutsu, or Shindo Muso Ryu Jodo, and Daito Ryu Aikijujutsu, a predecessor to Aikido.">
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="icon" href="/assets/favicon.ico" sizes="32x32">
    <link rel="icon" href="/assets/logos/logo.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
    
    <!-- TODO: head tags for socials sharing -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">

    {% comment %} preload above-the-fold assets {% endcomment %}
    {% for image in preload.images %}
        <link rel="preload" as="image" href="{{ image }}">
    {% endfor %}

    <link rel="stylesheet" href="/style/css/style.css">
    {% for style in styles %}
        <link rel="stylesheet" href="{{ style }}">
    {% endfor %}

    {% comment %} GH pages doesn't support the security headers we need, but these meta tags will work {% endcomment %}
    <meta name="referrer" content="no-referrer" />
    <meta http-equiv="Strict-Transport-Security" content="max-age=7776000; includeSubDomains" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://www.google.com/ 'unsafe-inline' http://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js 'unsafe-inline' https://hoshudojo.us9.list-manage.com/subscribe/post-json 'unsafe-inline' https://web3forms.com 'unsafe-inline' https://api.web3forms.com/submit 'unsafe-inline' https://fonts.googleapis.com 'unsafe-inline' https://fonts.gstatic.com 'unsafe-inline' https://js.hcaptcha.com/1/api.js 'unsafe-inline' https://newassets.hcaptcha.com 'unsafe-inline' https://www.googletagmanager.com 'unsafe-inline' https://www.google-analytics.com 'unsafe-inline' https://www.google.com/ccm/collect 'unsafe-inline' https://googleads.g.doubleclick.net 'unsafe-inline' https://td.doubleclick.net 'unsafe-inline' https://www.google.com/pagead/1p-user-list/16676903394/ 'unsafe-inline' https://www.google.ca/pagead/1p-user-list/16676903394/ 'unsafe-inline'" />
    <meta http-equiv="X-Content-Type-Options" content="nosniff" />

    {% comment %} hide from search engine results (where respected) {% endcomment %}
    {% if isHiddenFromSearch %}
        <meta name="robots" content="noindex" />
    {% endif %}

    {% include "sections/google-analytics" %}
</head>

<body>
    {% include "sections/header" %}
    <main id="content">{{ content }}</main>
    {% include "sections/footer" %}
</body>
</html>