<!-- TODO: headshots (still missing: Goto sensei, Dave, Michael) -->
<section id="leadership" class="leadership page-wrapper">
    <article>
        <h2 class="vis-hidden">Leadership</h2>
        <ul class="list list--unstyled">
            {%- for leader in site.leadership -%}
                <li class="leader{% if leader.isHeadSensei %} leader--primary{% endif %}{% if leader.isSecondarySensei %} leader--secondary{% endif %}{% if leader.isHeadSensei != true and leader.isSecondarySensei != true %} leader--tertiary{% endif %}">
                    <picture class="leader__photo slide-fade-in">
                        <source srcset="{{ leader.photo.srcset }}">
                        <img src="{{ leader.photo.src }}" alt="Headshot: {{ leader.name }}" loading="lazy" />
                    </picture>
                    <div class="leader__text slide-fade-in">
                        <h3 class="leader__title">{{ leader.name }}</h3>
                        <p class="leader__ranks">{{ leader.ranks }}</p>
                        <p class="leader__location">{{ leader.location }}</p>
                    </div>
                </li>
            {%- endfor -%}
        </ul>
    </article>
</section>