<!-- SECTION: locations -->
<section id="locations" class="locations">
    <article class="page-wrapper">
        <h2 class="vis-hidden">Locations</h2>
        <!-- TODO: visual map with interactive markers -->
        <div class="locations__map" aria-hidden="true">
            <picture>
                <source
                    srcset="./assets/img/world-map_640.webp 640w, ./assets/img/world-map_1280.webp 1280w, ./assets/img/world-map_1920.webp 1920w"
                    sizes="(max-width: 640px) 640px, (max-width: 1280px) 1280px, 1920px" />
                <img src="./assets/img/world-map_1920.png" alt=""
                    srcset="./assets/img/world-map_640.png 640w, ./assets/img/world-map_1280.png 1280w, ./assets/img/world-map_1920.png 1920w"
                    sizes="(max-width: 640px) 640px, (max-width: 1280px) 1280px, 1920px" loading="lazy" />
            </picture>
            {% comment %} loop through locations list to flatten all dojos in one list {% endcomment %}
            {%- assign sortedDojos = '' | split: '' -%}
            {%- for location in site.locations -%}
                {%- for dojo in location.dojos -%}
                    {%- assign sortedDojos = sortedDojos | concat: dojo -%}
                {%- endfor -%}
            {%- endfor -%}
            {% comment %} sort 'em so we can assign a logical keyboard focus order {% endcomment %}
            {%- assign sortedDojos = sortedDojos | sort: "mapOrder" -%}
            {%- for dojo in sortedDojos -%}
                <!-- TODO: design pop-up, location thumbnail? -->
                <div id="pin-{{ dojo.slug }}" class="locations__map-pin locations__map-pin--{{ dojo.slug }}">
                    <button class="map-pin" aria-hidden="true" title="{{ dojo.location }}"></button>
                    <div class="map-pop-up" data-open="false">
                        <p>{{ dojo.location }}</p>
                        <p>Instructor: {{ dojo.instructor }}</p>
                        <p>Schedule: {{ dojo.schedule }}</p>
                    </div>
                </div>
            {%- endfor -%}
        </div>
        <div class="locations__links content-wrapper">
            <p>
                Our primary destinations for weekly classes and regular seminar events are
                in the Pacific Northwest. The Hoshu Dojo network continues to grow throughout North America,
                and classes taught under our tradition can be found at any of the locations below.
            </p>
            {%- for location in site.locations -%}
                <div class="locations__country-list">
                    <h3 class="h5">{{ location.country }}</h3>
                    <ul class="list list--unstyled">
                        {%- for dojo in location.dojos -%}
                            <li>
                                <a href="/locations/{{ dojo.slug }}/">
                                    {{ dojo.location }}
                                </a>
                            </li>
                        {%- endfor -%}
                    </ul>
                </div>
            {%- endfor -%}
        </div>
    </article>
</section>